<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 ftr-info">
                <h3>BIVR-&alpha;</h3>
                <p>Boat Island VR (BIVR) is a virtual reality sandbox experience, it can be played on the Meta Quest
                    platform. It is a for boats and our Islanders which is a virtual space where islanders can visit,
                    connect with each other and enjoy exclusive contents and entertainment from different boats around
                    the world.
                </p>
            </div>
            <div class="col-md-4 ftr-grid">
                <h3>Platform</h3>
                <ul class="ftr-list">
                    <li><a href="#">Meta-Verse</a></li>
                    <li><a href="#">Android OS</a></li>
                    <!-- <li><a href="#">XBOX 360</a></li>
                    <li><a href="#">XBOX ONE</a></li>
                    <li><a href="#">PSP</a></li> -->
                </ul>
            </div>
            <div class="col-md-4 ftr-grid">
                <h3>Information</h3>
                <ul class="ftr-list">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Purchase Ticket</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->
<div class="copywrite">
    <div class="container">
        <p> &copy; <span id="year"></span> <a href="https://bivr.io" style="color:#69d2e8">BIVR-&alpha;</a>. All rights reserved | Design by <span id="developer"></span>
        </p>
    </div>
</div>
<script>
    $('#year').copyrights();
    $('#developer').developer()
</script>